h1 {
    font-family: 'Montserrat';
    font-weight: 600;
    text-align: center;
    line-height: 50px;
}

.left-container {
    max-width: 50%;
    height: 760px;
    background-color: bisque;
}

.right-container {
    max-width: 50%;
    height: 760px;
    background-color: burlywood;
}