@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.ttf')
}

body {
    margin: 0px;
}

h1 {
    font-family: 'Montserrat';
    font-size: 1.2em;
    font-weight: 600;
    color: #FFFFFF;
    text-align: center;
    line-height: 34px;
    grid-area: 3/1/7/6;
    z-index: 1;
}

/* --- Top section styles --- */

.grid-container {
    display: grid;
    grid-template: repeat(8, 1fr) / repeat(5, 1fr);
}

header {
    grid-area: 1/1/4/6;
    z-index: 3;
    align-self: center;
}

.layer {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #2E151B;
    z-index: 2;
    opacity: 0%;
}

.left-container {
    background-color: #376E6F;
    grid-area: 1/1/9/6;
    display: grid;
    justify-content: center;
}

.left-image {
    max-width: 90%;
    justify-self: center;
}

.right-container {
    display: none;
}

.navigate {
    text-align: center;
    padding-inline-start: 0px;
    margin: auto;
    border-collapse: collapse;
}

.nav-li {
    font-family: 'Nunito';
    font-size: 0.8em;
    padding: 7px;
}

.nav-li+.nav-li {
    margin-left: 20px;
}

.nav-li a {
    text-decoration: none;
    color: #FFFFFF;
}

.nav-li a:hover {
    color: #fcafb7;
    border-bottom: solid 2px #FFFFFF;
    transition: color 1s;
}

.skills-li {
    font-family: 'Nunito';
    color: #376E6F;
    font-size: 0.78em;
    background-color: #FFFFFF;
    text-align: start;
    padding-left: 7px;
    visibility: hidden;
}

@keyframes arrow {
    0% {
        transform: translateY(0px);
    }
    60% {
        transform: translateY(3px);
    }
    100% {
        transform: translateY(-2px);
    }
}

span {
    display: inline-block;
    font-family: 'icomoon';
    margin-left: 30px;
    animation: arrow 1.5s linear;
    animation-iteration-count: infinite;
}

.view-more {
    grid-row-start: 6;
    grid-column: 2/5;
    height: 40px;
    background-color: transparent;
    border: solid 3px #FFFFFF;
    color: #FFFFFF;
    font-size: 1.15em;
    z-index: 2;
}

/* --- About section styles --- */

a .social {
    font-family: 'icomoon';
    display: inline-block;
    box-sizing: border-box;
    width: 45px;
    height: 45px;
    margin: 10px;
    text-align: center;
    border: solid 2px #999999;
    border-radius: 50%;
}

.facebook:hover {
    background-color: #8B9DC3;
    border: solid 2px #8B9DC3;
}

.linkedin:hover {
    background-color: #00A0DC;
    border: solid 2px #00A0DC;
}

.github:hover {
    background-color: #F4CBB2;
    border: solid 2px #F4CBB2;
}

h4 {
    margin: 0;
    padding: 10px;
    color: #999999;
    font-size: 1.2em;
}

h4:hover {
    color: #FFFFFF;
}

.github h4:hover {
    color: #000000;
}

#about {
    padding: 30px 0px;
}

.about-me {
    max-width: 80%;
    margin: auto;
}

.about-image {
    width: 80%;
    margin-left: 10%;
    margin-top: 30px;
}

.about-image-full {
    display: none;
}

h2 {
    font-family: 'Montserrat';
    color: #E7717D;
    font-size: 1.2em;
}

p {
    font-family: 'Nunito';
    color: #376E6F;
}

/* --- Projects section --- */

#projects {
    padding: 5% 9%;
    background-color: #2F4454;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.img1, .img2, .img3 {
    width: 70%;
    height: 120px;
    
    background-size: cover;
    background-position-x: center;
}

.img1 {
    background-image: url('../img/magebit.jpg');
}

.img2 {
    background-image: url('../img/sigmund-4UGmm3WRUoQ-unsplash.jpg');
}

.img3 {
    background-image: url('../img/sigmund-4UGmm3WRUoQ-unsplash.jpg');
}

.portfolio {
    width: 100%;
    margin-top: 30px;
    display: flex;
}

h3 {
    flex-basis: 55%;
    color: #FFFFFF;
    font-family: 'Nunito';
    font-weight: 300;
    padding-left: 20px;
}


@media screen and (min-width: 650px) {
    .grid-container {
        grid-template: repeat(8, 1fr) / repeat(10, 1fr);
    }

    header {
        grid-area: 1/1/6/11;
        font-size: 1.6em;
    }

    h1 {
        grid-area: 4/1/7/11;
        font-size: 1.5em;
        line-height: 35px;
        margin: 0px;
    }

    .nav-li+.nav-li {
        margin-left: 25px;
    }
    
    .right-container {
        display: block;
        grid-area: 1/6/9/11;
        background: linear-gradient(90deg, rgba(55,110,111,1) 0%, rgba(47,68,84,1) 30%);
    }

    .right-image {
        max-width: 80%;
    }

    .left-image {
        top: 0px;
        max-width: 80%;
    }

    .view-more {
        cursor: pointer;
        grid-row-start: 6;
        grid-column: 5/8;
        align-self: self-end;
    }

    /* --- About (media) section --- */

    #about {
        display: flex;
        justify-content: flex-start;
    }

    .about-image {
        display: none;
    }

    .about-image-full {
        display: block;
        margin: 40px;
        max-width: 30%;
    }

    .about-me {
        width: 40%;
        margin: 5% 5% 5% 9%;
    }

    /* --- Projects (media) section --- */

    .projects-container {
        width: 100%;
    }

    .portfolio {
        width: 320px;
        margin: 40px 0px;
    }

    .img1, .img2, .img3 {
        height: 150px;
    }

}
/*
@media screen and (min-width: 425px) and (max-width: 900px) {
    .right-container {
        display: block;
        grid-area: 1/3/9/11;
    }
} */

@media screen and (min-width: 1100px) {
    .left-image {
        justify-self: center;
    }

    header {
        grid-area: 1/1/4/11;
    }

    h1 {
        font-size: 2.5em;
        line-height: 55px;
    }

    .nav-li+.nav-li {
        padding-left: 40px;
    }

    .view-more {
        align-self: self-start;
    }

    .projects-container {
        justify-content: center;
        width: 100%;
    }

    .portfolio {
        margin: 20px;
        display: block;
    }

    .img1, .img2, .img3 {
        width: 100%;
        height: 250px;
    }

}
